/* 
.
. --- Variables ---- 
.
*/

// Color Variables
$marine-blue: #023365;
$navy: #01193a;
$white: #ffffff;
$pale-grey: #eef2f4;
$light-navy: #135180;
$light-navy-60: rgba(22, 94, 149, 0.6);
$light-navy-two: #165e95;
$light-navy-70: rgba(22, 94, 149, 0.7);
$pale-grey-two: rgb(238, 241, 244);
$cool-grey: rgb(146, 148, 151);
$water-blue: rgb(28, 137, 199);
$light-navy-three: rgb(16, 64, 114);
// Font Variables
$headline-font-med: "HelveticaNeue-medium",
Arial,
sans-serif;
$headline-font: "HelveticaNeue",
Georgia,
serif;
$text-font: "HelveticaNeue-light";
// Dimension Variables
$content-width: 960px;
$header-height: 60px;
$footer-height: 90px;