/* 
.
. --- Variables ---- 
.
*/

// Color Variables
$white: #ffffff;
$blood-red: #de0000;
$black: #000000;
$warm-grey-four: #888888;
$warm-grey-three: #828282;
$warm-grey-two: #727272;
$warm-grey: #a5a5a5;
// Font Variables
$headline-font-med: "HelveticaNeue-medium",
Arial,
sans-serif;
$headline-font: "HelveticaNeue",
Georgia,
serif;
$text-font: "HelveticaNeue-light";
// Dimension Variables
$content-width: 960px;
$header-height: 60px;
$footer-height: 90px;