/* 
.
. --- Variables ---- 
.
*/

// Color Variables
$text-color: #222222;
$theme-color: #170a48;
$secondary-color: #f27731;
$ternary-color: #ccf962;
$link-color: $secondary-color;
$menu-item-color: white;
// Font Variables
$text-font: "Alegreya Sans",
Arial,
sans-serif;
$headline-font: "Titillium Web",
Georgia,
serif;
// Dimension Variables
$content-width: 960px;
$header-height: 60px;
$footer-height: 90px;