/* 
.
. --- Mixins ---- 
.
*/

// Media Queries for screens
@mixin tiny-screens() {
    @media only screen and (max-width: 320px) {
        @content;
    }
}

@mixin smaller-screens() {
    @media only screen and (max-width: 480px) {
        @content;
    }
}

@mixin medium-screens() {
    @media only screen and (max-width: 680px) {
        @content;
    }
}

@mixin large-screens() {
    @media only screen and (max-width: 960px) {
        @content;
    }
}

// Our google font
@mixin google-font($font) {
    $font: unquote($font);
    @import url(https://fonts.googleapis.com/css?family=#{$font});
}

// Object-fit , resize to number to fit container
@mixin object-fit {
    object-fit: contain;
}

// Font Styles
@mixin standard-text {
    font-size: 1.3em;
    color: $cool-grey;
    font-weight: 500;
    font-family: $text-font;
}

@mixin standard-text-sm {
    font-size: 1.15em;
    color: $cool-grey;
    font-weight: 500;
    font-family: $text-font;
}

@mixin blue-text-sm {
    font-size: 1.15em;
    color: $water-blue;
    font-weight: 500;
    font-family: $text-font;
}

// Toggle Font and Icon
@mixin toggle-font {
    @include standard-text;
    float: left;
    margin: 1em;
}

// Toggle Icon
@mixin toggle-icon {
    float: right;
    margin: 1em;
    img {
        margin: 0 0 0 0.5em;
    }
}

// Style our hover <a> links
@mixin lighten-links {
    text-decoration: none;
    &:hover {
        color: lighten($twilight-blue, 35%);
        text-decoration: none;
    }
}

@mixin darken-links {
    text-decoration: none;
    &:hover {
        color: darken($twilight-blue, 10%);
        text-decoration: none;
    }
}

// Arrow Icon for input field
@mixin arrow-icon {
    background-image: url(../../icons/arrow-right.svg);
    background-position: 95% 50%;
    background-repeat: no-repeat;
    background-size: 0.8em;
    border-bottom: none;
}

// Our standard TM footer p on Sign in pages
@mixin footer-p {
    color: $cool-grey;
    font-size: 0.9em;
    line-height: 1.3;
    margin-left: 4%;
    height: 10em;
}

// --------------------------------- end -------------------------- //
// 
@mixin warning {
    background-color: orange;
    color: #fff;
    &:hover {
        background-color: lighten(orange, 10%);
    }
}

@mixin box-shadow($shadow...) {
    box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    -webkit-box-shadow: $shadow;
}

// 
// Just default a tag styling
@mixin default-links {
    a {
        text-decoration: none;
        &:hover {
            color: darken($twilight-blue, 10%);
            text-decoration: none;
        }
    }
}

@mixin large-text {
    font: {
        size: 22px;
        weight: bold;
    }
}

@mixin rounded($radius) {
    border-radius: $radius;
}

@mixin box($radius: 6px, $border: 1px solid #000) {
    @include rounded($radius);
    border: $border;
}