// Global Nav with Hamburger Menu Icon Style
header {
    .navbar {
        // Nav hamburger icon
        .gn-icon-menu {
            position: absolute;
            float: left;
            z-index: 2;
            padding: 2em 1em;
            margin: 0.2em 0;
            img {
                width: 2.2em;
                height: 2em;
                cursor: pointer;
            }
        }
        ul {
            display: inline;
            list-style-type: none;
            padding: 1em;
            overflow: hidden;
            background-color: $marine-blue;
            position: fixed;
            top: 0;
            width: 100%;
            li {
                text-align: center;
                h3 {
                    display: inline-block;
                    background: $marine-blue;
                    color: $white;
                    font-size: 1.3em;
                    font-weight: 500;
                    font-family: $headline-font;
                    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
                    margin: 0.2em 0 0 0;
                }
            }
        }
    }
    // Sidebar
    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 3;
        top: 0;
        left: 0;
        background-color: $pale-grey-two;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
        a {
            @include standard-text;
            font-size: 1.30em;
            color: $marine-blue;
            padding: 1em 0 1em 1em;
            display: block;
            transition: 0.3s;
            border-bottom: solid 0.3px $warm-grey;
            // Hover
            @include lighten-links;
        }
        .closebtn {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
        }
        .nav-content {
            padding-left: 1.4em;
            background-color: $white;
            border-top: solid 0.1px $warm-grey;
            border-right: solid 3px $shadow-grey;
        }
        hr {
            width: 100%;
            height: 1em;
            opacity: 0.8;
            background-color: $shadow-grey;
            margin: 0;
        }
    }
}