// Global Nav with Hamburger Menu Icon Style
header {
    .navbar {
        ul {
            display: inline;
            list-style-type: none;
            padding: 2em;
            overflow: hidden;
            background-color: $marine-blue;
            position: fixed;
            top: 0;
            width: 100%;
            li {
                text-align: center;
                h3 {
                    display: inline-block;
                    background: $marine-blue;
                    color: $white;
                    font-size: 1.5em;
                    font-weight: 500;
                    font-family: $text-font;
                    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
                    margin: 0;
                }
                // Nav hamburger icon
                .gn-icon-menu {
                    float: left;
                    img {
                        width: 2.5em;
                        height: 2em;
                    }
                }
            }
        }
    }
}