/* =====================================================
   Button - Styles
   ===================================================== */

.toggle-box {
    width: 5em;
    height: 2.2em;
    background-color: $white;
    border: solid 1px rgba(151, 151, 151, 0.5);
}

.lg-blue-btn {
    background-color: $light-navy-three;
    border-radius: 0px;
    font-family: $text-font;
    font-weight: 500;
}