/*
*
* --- Our Main Styles for Log in Page--
*
*/


/*
----- Main Content ----- 
*/

body {
    // Background Image 
    .bg-phone {
        @include iphone-img;
    }
    // Blue Content Card
    .content-card {
        @include blue-content-card;
        // Image Slider Icons/shapes
        .circle {
            @include circle-shapes;
        }
    }
    footer {
        @include footer-btn;
        .log-txt {
            // font-family: $headline-font;
            font-size: 1.5em;
            font-weight: 300;
            a {
                color: $twilight-blue;
                @include darken-links;
            }
        }
        .blue-bg {
            background-color: $twilight-blue;
            height: 100%;
            border-top: solid 1px rgba(151, 151, 151, 0.5);
            .sgn-txt {
                font-size: 1.5em;
                font-weight: 300;
                a {
                    color: $white;
                    @include lighten-links;
                }
            }
        }
    }
}