/*
*
* --- Our Main Styles for Log in Page--
*
*/


/*
----- Main Content ----- 
*/

body {
    // Background Image 
    .bg-phone {
        width: 100%;
        height: 100%;
        right: 1.3em;
        margin: 0;
        padding: 2.5em;
        position: fixed;
        top: 0;
        z-index: -1;
    }
    .content-card {
        background-color: $twilight-blue;
        margin-top: 27em;
        height: 330px;
        h3 {
            padding: 0.5em 0 0 0;
        }
        p {
            @include standard-text;
            padding: 0.6em;
        }
    }
    footer {
        @include footer-btn;
        .log-txt {
            color: $twilight-blue;
            // font-family: $headline-font;
            font-size: 1.5em;
            font-weight: 300;
        }
        .blue-bg {
            background-color: $twilight-blue;
            height: 100%;
            .sgn-txt {
                color: $white;
                // font-family: $headline-font;
                font-size: 1.5em;
                font-weight: 300;
            }
        }
    }
}