/*
*
* --- Our Main Styles for the Password Page--
*
*/


/*
----- Main Content ----- 
*/

body {
    background-color: $pale-grey-two;
    z-index: -1;
    .passcode-section {
        position: static;
        margin: 10% 0 0 0;
        p {
            @include standard-text;
            padding-left: 8%;
        }
    }
    .passcode-content {
        display: inline;
        .passcode-img {
            float: left;
            padding: 1% 2.5em 0 4%;
            width: 50%;
            height: 100%;
            position: relative;
        }
        .passcode-p {
            p {
                padding: 0;
            }
            .blue-text {
                @include blue-text-sm;
            }
        }
    }
    .passcode-input {
        padding-left: 2.5em;
        p {
            @include blue-text-sm;
        }
    }
}