/*
*
* --- Our Main Styles for Sign-in Page--
*
*/


/*
----- Main Content ----- 
*/

body {
    background-color: $pale-grey-two;
    z-index: -1;
    .online-id {
        position: static;
        margin: 25% 0 0 0;
        input {
            @include standard-text;
            width: 100%;
            background-color: $white;
            border-top: solid 1px rgba(151, 151, 151, 0.5);
            border-bottom: solid 1px rgb(151, 151, 151);
            padding: 1.5em 1em;
            border-radius: 0px;
        }
    }
    .main-content {
        margin: 10% 0 0 0;
        background-color: $white;
        border-top: solid 1px rgb(151, 151, 151);
        .save-online-id {
            padding: 1.2em 0 0 0;
            background-color: white;
            height: 6em;
            // border-bottom: solid 1px rgb(151, 151, 151);
            // Mixin for toggle <p> and icon 
            p {
                @include toggle-font;
            }
            span {
                @include toggle-icon;
            }
        }
        hr {
            border-top: solid 1px rgb(151, 151, 151);
            width: 89%;
            padding: 0;
            margin: 0.2em 0 0 1.5em;
        }
        .use-touch-id {
            position: relative;
            padding: 1.5em 0 0 0;
            height: 6em;
            // Mixin for toggle <p> and icon 
            // Mixin for toggle <p> and icon 
            p {
                @include toggle-font;
            }
            span {
                @include toggle-icon;
            }
        }
        .help-options {
            margin: 1.3em 1.3em 1.5em 1.3em;
            p {
                .sign-in-help {
                    // Font Style
                    @include standard-text-sm;
                }
            }
            p {
                .blue-text {
                    @include blue-text-sm;
                }
            }
        }
        button {
            margin: 1.3em 1.3em 1em 1em;
            width: 9.7em;
        }
        .p-bottom-normal {
            @include footer-p;
            margin: 0.5em 0 1em 0.5em;
        }
    }
}