/*
*
* --- Our Main Styles for Sign-in Page 3--
*
*/


/*
----- Main Content Inherited from Sign In Page 02 ----- 
*/

body {
    background-color: $pale-grey-two;
    z-index: -1;
    .save-online-id-3 {
        background-color: white;
        p {
            @include toggle-font;
        }
        span {
            @include toggle-icon;
        }
    }
    .touch-id-bg {
        .touch-id-img {
            width: 100%;
            height: 100%;
            position: relative;
            margin-bottom: 0.5em;
        }
    }
}