/*
*
* --- Our Main Styles for Sign-in Page--
*
*/


/*
----- Main Content ----- 
*/

body {
    background-color: $pale-grey-two;
    z-index: -1;
    .online-id {
        position: static;
        margin: 25% 0 0 0;
        input {
            width: 100%;
            background-color: $white;
            border-top: solid 1px rgba(151, 151, 151, 0.5);
            border-bottom: solid 1px rgb(151, 151, 151);
            padding: 1.2em;
            font-size: 1.3em;
            color: $cool-grey;
            font-weight: 500;
            font-family: $text-font;
        }
    }
}